spring.application.name: Library Management

spring:
  h2:
    console:
      enabled: true
  datasource:
    url: jdbc:h2:mem:librarydb
    driver-class-name: org.h2.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update